<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>About Us</h1>
      </div>
      <div class="content">
        <h3>We are BMW, The best car in the world</h3>
        <p>Why buy from us? we care about YOU!
          the customer is our number 1 care and we design amazing cars</p>
        <div class="button">
          <a href="https://www.bmw.co.il/">Read More...</a>
        </div>
      </div>
      <div class="image-section">
        <div class="card"> <img src="../../assets/photos/bmw-about.jpg" alt="bmw logo"></div>
        <div class="card"><img src="../../assets/photos/logo-about.jpg" alt="bmw logo"></div>



      </div>
    </div>
  </div>
</div>
