<!-- Footer ! -->
<footer>
  <div class="footer-content">
    <h3>BMW</h3>
    <h4>Be Unique</h4>
    <ul class="socials">
      <li>
        <a href="#">
          <i-feather name="share-2"></i-feather>
        </a>
      </li>
      <li>
        <a href="#">
          <i-feather name="facebook"></i-feather>
        </a>
      </li>
      <li><a href="#">
          <i-feather name="github"></i-feather>
        </a></li>
      <li><a href="#">
          <i-feather name="instagram"></i-feather>
        </a></li>
      <li><a href="#">
          <i-feather name="twitter"></i-feather>
        </a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2022 BMW.</p>
  </div>

</footer>
