<div class="container">
  <div class="heading">Change password</div>
  <form [formGroup]="loginForm">
    <div class="card-details">

      <div class="card-box">
        <span class="details">Password*</span>
        <input maxlength="16" minlength="6" formControlName="password" type="password"
          placeholder="Enter your Password">
      </div>
      <div class="card-box">
        <span class="details">New Password*</span>
        <input formControlName="newPassword" type="password" placeholder="Enter your password">
      </div>




    </div>

    <div class="button">
      <input (click)="changePass()" type="button" value="Login">
    </div>
    <h2 style="color:red" *ngIf="showError">Invalid inputs</h2>

  </form>
</div>
